ul#todos
    each todo in todos
        if todo.isDone()
            li.done= todo.toString()
        else
            li(id=todo.getId())
                = todo.toString()
                input(type="checkbox", value=todo.getId())